@model BloodMgt.Models.Donnerlocation

@{
    ViewData["Title"] = "Addloc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Addloc</h1>

<h4>Donnerlocation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Addloc">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="donnerid" class="control-label"></label>
                <input asp-for="donnerid" class="form-control" />
                <span asp-validation-for="donnerid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="latitude" class="control-label"></label>
                <input asp-for="latitude" class="form-control" />
                <span asp-validation-for="latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="longitude" class="control-label"></label>
                <input asp-for="longitude" class="form-control" />
                <span asp-validation-for="longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contactno" class="control-label"></label>
                <input asp-for="contactno" class="form-control" />
                <span asp-validation-for="contactno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bg" class="control-label"></label>
                <input asp-for="bg" class="form-control" />
                <span asp-validation-for="bg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="city" class="control-label"></label>
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
