@model BloodMgt.Models.Donnerlocation

@{
    ViewData["Title"] = "findBloodList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="map_canvas" style="width: 400px; height: 300px"></div>

<div class="form-group">
    <input type="text" id="txt_location" class="form-control" />
    @ViewBag.blood
</div>
<div>
    <input type="button" value="Search" onclick="getmap()">
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6v5-2uaq_wusHDktM9ILcqIrlPtnZgEk&sensor=false" type="text/javascript"></script>
<script>
    var markers = @Html.Raw(ViewBag.Markers);

    var mapcode;
    var diag;
    window.onload = function () {
        var mapOptions = {
            center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var infoWindow = new google.maps.InfoWindow();
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        for (i = 0; i < markers.length; i++) {
            var data = markers[i]
            var myLatlng = new google.maps.LatLng(data.lat, data.lng);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: data.title
            });
            (function (marker, data) {
                google.maps.event.addListener(marker, "click", function (e) {
                    infoWindow.setContent(data.bg, data.id);
                    infoWindow.open(map, marker);
                });
            })(marker, data);
        }
    }
</script>

